includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 10
  paths:
    - app
    - routes
  excludePaths:
    - vendor/*
  scanFiles:
    - bootstrap/app.php
  inferPrivatePropertyTypeFromConstructor: true
